<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <img src="{{url_for('static', filename='portal_logo.png')}}" width="230px">
    <br>
    <a href="/admin/dashboard">Dashboard</a>
    <a href="/admin/courses">All courses</a>
    <a href="/admin/tutors">All tutors</a>
    <a href="/admin/tutorships">All tutorships</a>
    <a href="/admin/students">All students</a>
    <a href="/admin/admins">All admin</a>
  </div>
  
  <div id="main" class="non-sidebar">
    <button class="openbtn" onclick="openNav()">&#9776;</button>