<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>PHYSICS<br>TUTORING<br>PORTAL</h3>
        </div>

        <hr>


        
        <a href="/admin/dashboard">dashboard</a><br>
        <a href="/admin/courses">courses</a><br>
        <a href="/admin/tutors">tutors</a><br>
        <a href="/admin/tutorships">tutorships</a><br>
        <a href="/admin/students">students</a><br>
        <a href="/admin/admins">admins</a><br>
        <a href="/logout">logout</a><br>


        <img src="{{ '/static/PU-standard.png' }}" width="250px">

    </nav>

</div>