<div id="mySidebar" class="sidebar">
  <img src="{{url_for('static', filename='portal_logo.png')}}" width="250px">
  <br>
  <br>
  {% if user.get('is_student') or user.get('is_tutor') %}
    <a id="myToggleButton" href="javascript:void(0)" onclick="openToggle()">&#9776; Admin view</a>
    {% else %}
    <a id="myToggleButtonDisabled">Admin view</a>
    {% endif %}

  <div id="myToggle" class="toggle">
    {% if user.get('is_student') %}
    <a id="toggle-button" href="/student/dashboard">Student view</a>
    {% endif %}
    {% if user.get('is_tutor') %}
    <a id="toggle-button" href="/tutor/dashboard">Tutor view</a>
    {% endif %}
  </div>
    <a id="sidebar-button" href="/admin/dashboard">Dashboard</a>
    <a id="sidebar-button" href="/admin/courses">Courses</a>
    <a id="sidebar-button" href="/admin/tutors">Tutors</a>
    <a id="sidebar-button" href="/admin/tutorships">Tutorships</a>
    <a id="sidebar-button" href="/admin/students">Students</a>
    <a id="sidebar-button" href="/admin/admins">Admin</a>
    <a id="sidebar-button" href="/logout">Log out</a>
  <br>
  <br>
  <br>
  </div>
  
  <div id="main" class="non-sidebar">
    <button id="mySidebarButton" class="openbtn" onclick="closeNav()">&times;</button>