<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">

        <img src="{{url_for('static', filename='p_logo_v1.png')}}" width="210px" style="position:absolute;left:25px;top:40px;">

        <div class="sidebar-button" style="position:absolute;top:210px;">
          <a href="/admin/dashboard"><button type="button" class="btn"><h5>Dashboard</h5></button></a>
        </div>
        
        <div class="sidebar-button" style="position:absolute;top:285px;">
          <a href="/admin/courses"><button type="button" class="btn"><h5>All Courses</h5></button></a>
        </div>

        <div class="sidebar-button" style="position:absolute;top:360px;">
            <a href="/admin/tutors"><button type="button" class="btn"><h5>All Tutors</h5></button></a>
        </div>

        <div class="sidebar-button" style="position:absolute;top:435px">
          <a href="/admin/tutorships"><button type="button" class="btn"><h5>All Tutorships</h5></button></a>
        </div>

        <div class="sidebar-button" style="position:absolute;top:510px">
          <a href="/admin/students"><button type="button" class="btn"><h5>All Students</h5></button></a>
        </div>
        
        <div class="sidebar-button" style="position:absolute;top:585px">
          <a href="/admin/admins"><button type="button" class="btn"><h5>All Admin</h5></button></a>
        </div>

        <div class="sidebar-button" style="position:absolute;top:660px">
            <a href="/student/dashboard"><button type="button" class="btn"><h5>Student Dashboard</h5></button></a>
        </div>
  
        <div class="sidebar-button" style="position:absolute;top:735px;">
            <a href="/tutor/dashboard"><button type="button" class="btn"><h5>Tutor Dashboard</h5></button></a>
        </div>

        <div class="sidebar-button" style="position:absolute;top:810px">
            <a href="/logout"><button type="button" class="btn"><h5>Logout</h5></button></a>
        </div>

        <img src="{{ 'static/PU-standard.png' }}" width="180px" style="position:fixed;bottom:10px;left:25px;">

    </nav>
    

</div>