<div class="sidebar">

  <img src="{{url_for('static', filename='p_logo_v1.png')}}" width="210px" style="position:absolute;left:25px;top:40px;">

  <form action="/tutor/dashboard" method="get">
    <button type="submit" class="sidebar-button" style="position:absolute;top:200px;">Tutor Dashboard</button>
  </form>

  <form action="/tutor/courses" method="get">
    <button type="submit" class="sidebar-button" style="position:absolute;top:250px;">Apply to Tutor</button>
  </form>

  <form action="/student/dashboard" method="get">
    <button type="submit" class="sidebar-button" style="position:absolute;top:300px;">Student Dashboard</button>
  </form>

  {% if user.get('is_admin') %}

  <form action="/admin/dashboard" method="get">
    <button type="submit" class="sidebar-button" style="position:absolute;top:350px;">Admin Dashboard</button>
  </form>

  {% endif %}

  <img src="{{url_for('static', filename='PU-white.png')}}" width="180px" style="position:fixed;bottom:10px;left:25px;">


</div>