<div id="mySidebar" class="sidebar">
  <img src="{{url_for('static', filename='portal_logo.png')}}" width="230px">
  <br>
  <br>
  {% if user.get('is_student') or user.get('is_admin') %}
    <a id="myToggleButton" href="javascript:void(0)" onclick="openToggle()">&#9776; Tutor view</a>
    {% else %}
    <a id="myToggleButtonDisabled">Tutor view</a>
    {% endif %}

    <div id="myToggle" class="toggle">
      {% if user.get('is_student') %}
      <a id="toggle-button" href="/student/dashboard">Student view</a>
      {% endif %}
      {% if user.get('is_admin') %}
      <a id="toggle-button" href="/admin/dashboard">Admin view</a>
      {% endif %}
    </div>
    <a id="sidebar-button" href="/tutor/dashboard">Dashboard</a>
    <a id="sidebar-button" href="/tutor/courses">Apply to tutor</a>
    <a id="sidebar-button" href="/tutor/editbio">Edit Bio</a>
  </div>
  
  <div id="main" class="non-sidebar">
    <button id="mySidebarButton" class="openbtn" onclick="openNav()">&#9776; Tutor view</button>