<!DOCTYPE html>
<html>
    <head>
      <title>Physics Tutoring Portal Result</title>
      <link rel="stylesheet" href= "{{url_for('static', filename='custom.css')}}">
      <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>

      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body class="princeton-gradient">
        &nbsp;
        {% include "/components/tutor-sidebar-header.html" %}

        <div>
            {% include '/components/tutor-dashboard-title.html' %}
            <br>

            <br><br><br>

            <h3>RESPONSE</h3>
            {{message}}
        </div>

        {% include "/components/tutor-sidebar-footer.html" %}

    </body>

</html>