<!DOCTYPE html>
<html>

<head>
  <title>Physics Tutoring Portal Tutor Dashboard</title>
  <link rel="stylesheet" href="{{url_for('static', filename='custom.css')}}">
  <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="princeton-gradient">
  &nbsp;
  {% include "/components/tutor-sidebar-header.html" %}

  <div>
    {% include '/components/tutor-dashboard-title.html' %}

    <br>
    <h1>Welcome, {{tutor.name}}.</h1>

    <br><br><br>

    <div class="list">
      <h3>MY STUDENTS</h3>
      <br>
      <table id="userlisttable">
        <thead id="userlistheader">
          <tr>
            <td>
              <h5>Course</h5>
            </td>
            <td>
              <h5>Name</h5>
            </td>
            <td>
              <h5>NetID</h5>
            </td>
            <td>
              <h5>Email</h5>
            </td>
            <td>
              <h5>Status</h5>
            </td>
            <td>
              <h5>Action</h5>
            </td>
            <td>
              <h5></h5>
            </td>
          </tr>
        </thead>
        <tbody id="userlist">

          {% for tutorship in accepted_tutorships: %}
          <tr>
            <td>{{tutorship.course.name}}</td>
            <td>{{tutorship.student.name}}</td>
            <td>{{tutorship.student.netid}}</td>
            <td>{{tutorship.student.email}}</td>
            <td>{{tutorship.status}}</td>
            <td><a
                href="/tutor/student/dissolve?student_id={{tutorship.student.id}}&course_id={{tutorship.course.id}}"><button>Dissolve</button></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>



    <br>
    <br>
    <br>



    <div class="list">
      <h3>STUDENT REQUESTS</h3>
      <br>
      <table id="userlisttable">
        <thead id="userlistheader">
          <tr>
            <td>
              <h5>Course</h5>
            </td>
            <td>
              <h5>Name</h5>
            </td>
            <td>
              <h5>NetID</h5>
            </td>
            <td>
              <h5>Email</h5>
            </td>
            <td>
              <h5>Status</h5>
            </td>
            <td>
              <h5></h5>
            </td>
          </tr>
        </thead>
        <tbody id="userlist">

          {% for tutorship in requested_tutorships: %}
          <tr>
            <td>{{tutorship.get('course').get('dept_course')}}</td>
            <td>{{tutorship.student.name}}</td>
            <td>{{tutorship.student.netid}}</td>
            <td>{{tutorship.student.email}}</td>
            <td>{{tutorship.get('status')}}</td>
            <td><a
                href="/tutor/student/accept?student_id={{tutorship.student.id}}&course_id={{tutorship.course.id}}">Accept
                tutorship</a></td>
            <td><a
                href="/tutor/student/reject?student_id={{tutorship.student.id}}&course_id={{tutorship.course.id}}">Reject
                tutorship</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>


    <br>
    <br>
    <br>

    <div class="list">
      <h3>MY COURSES</h3>
      <br>
      <table id="userlisttable">
        <thead id="userlistheader">
          <tr>
            <td>
              <h5>Course ID</h5>
            </td>
            <td>
              <h5>Course Name</h5>
            </td>
          </tr>
        </thead>
        <tbody id="userlist">
          {% for tutor_course in tutor_courses: %}
          <tr>
            <td>{{tutor_course.course.id}}</td>
            <td>{{tutor_course.course.name}}</td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>

    <br>

    
  </div>



  {% include "/components/tutor-sidebar-footer.html" %}


</body>

</html>