<!DOCTYPE html>
<html>

<head>
  <title>Physics Tutoring Portal Tutor Dashboard</title>
  <link rel="stylesheet" href="{{url_for('static', filename='custom.css')}}">
  <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="princeton-gradient">
  &nbsp;
  {% include "/components/tutor-sidebar-header.html" %}

  <div>
    {% include '/components/tutor-dashboard-title.html' %}

    <br>
    <h1>Welcome, <b>{{tutor.name}}</b>!</h1>

    <br><br><br>

      <h3>My students</h3>
      <br>
      <div class="list-group list-box-frame">
        <a class="list-group-item disabled list-box list-box-header">
              <div class="six-item">Course</div>
              <div class="six-item">Name</div>
              <div class="six-item">NetID</div>
              <div class="three-item">Email</div>
              <div class="six-item">Status</div>
        </a>

                {% if accepted_tutorships|length==0: %}
                <a class="list-group-item disabled list-box">
                <div class="one-item">No students to show.</div>
                </a>
                {% endif %}


                {% for tutorship in accepted_tutorships: %}
                {% if tutorship.status == 'ACCEPTED' %}
                <a href="/tutor/student?student_id={{tutorship.student.id}}&course_id={{tutorship.course.id}}" class="list-group-item list-group-item-action accepted-gradient list-box">
                {% elif tutorship.status == 'REQUESTED' %}
                <a href="/tutor/student?student_id={{tutorship.student.id}}&course_id={{tutorship.course.id}}" class="list-group-item list-group-item-action requested-gradient list-box">
                {% else %}
                <a href="/tutor/student?student_id={{tutorship.student.id}}&course_id={{tutorship.course.id}}" class="list-group-item list-group-item-action no-gradient list-box">
                {% endif %}
                  <div class="six-item">{{tutorship.course.dept_course}}</div>
                  <div class="six-item">{{tutorship.student.name}}</div>
                  <div class="six-item">{{tutorship.student.netid}}</div>
                  <div class="three-item">{{tutorship.student.email}}</div>
                  {% if tutorship.status == 'ACCEPTED' %}
                  <div class="six-item" style="color: green;">{{tutorship.status}}</div>
                  {% elif tutorship.get('status') == 'REQUESTED' %}
                  <div class="six-item" style="color: blue;">{{tutorship.status}}</div>
                  {% else %}
                  <div class="six-item">{{tutorship.status}}</div>
                  {% endif %}
                </a>
                {% endfor %}
        </div>


    <br>
    <br>
    <br>



    <h3>Student requests</h3>
      <br>
      <div class="list-group list-box-frame">
        <a class="list-group-item disabled list-box list-box-header">
              <div class="six-item">Course</div>
              <div class="six-item">Name</div>
              <div class="six-item">NetID</div>
              <div class="three-item">Email</div>
              <div class="six-item">Status</div>
        </a>

                {% if requested_tutorships|length==0: %}
                <a class="list-group-item disabled list-box">
                <div class="one-item">No students to show.</div>
                </a>
                {% endif %}


                {% for tutorship in requested_tutorships: %}
                {% if tutorship.status == 'ACCEPTED' %}
                <a href="/tutor/student?student_id={{tutorship.student.id}}&course_id={{tutorship.course.id}}" class="list-group-item list-group-item-action accepted-gradient list-box">
                {% elif tutorship.status == 'REQUESTED' %}
                <a href="/tutor/student?student_id={{tutorship.student.id}}&course_id={{tutorship.course.id}}" class="list-group-item list-group-item-action requested-gradient list-box">
                {% else %}
                <a href="/tutor/student?student_id={{tutorship.student.id}}&course_id={{tutorship.course.id}}" class="list-group-item list-group-item-action no-gradient list-box">
                {% endif %}
                  <div class="six-item">{{tutorship.course.dept_course}}</div>
                  <div class="six-item">{{tutorship.student.name}}</div>
                  <div class="six-item">{{tutorship.student.netid}}</div>
                  <div class="three-item">{{tutorship.student.email}}</div>
                  {% if tutorship.status == 'ACCEPTED' %}
                  <div class="six-item" style="color: green;">{{tutorship.status}}</div>
                  {% elif tutorship.get('status') == 'REQUESTED' %}
                  <div class="six-item" style="color: blue;">{{tutorship.status}}</div>
                  {% else %}
                  <div class="six-item">{{tutorship.status}}</div>
                  {% endif %}
                </a>
                {% endfor %}
        </div>


    <br>
    <br>
    <br>

      <h3>My courses</h3>
      <br>
      <div class="list-group list-box-frame">
        <a class="list-group-item disabled list-box list-box-header">
          <div class="two-item">Department & number</div>
          <div class="two-item">Title</div>
        </a>

        {% if accepted_tutor_courses|length==0: %}
        <a class="list-group-item disabled list-box">
        <div class="one-item">No courses to show.</div>
        </a>
        {% endif %}

        {% for tutor_course in accepted_tutor_courses: %}
        <a class="list-group-item disabled list-box">
          <div class="two-item">{{tutor_course.get('course').get('dept_course')}}</div>
          <div class="two-item">{{tutor_course.get('course').get('name')}}</div>
        </a>
        {% endfor %}

      </div>

    <br>
    <br>
    <br>


    <h2>My applications to tutor</h2>
    <br>
    <div class="list-group list-box-frame">
      <a class="list-group-item disabled list-box list-box-header">
        <div class="three-item">Department & number</div>
        <div class="three-item">Title</div>
        <div class="three-item">Status</div>
      </a>

      {% if other_tutor_courses|length==0: %}
      <a class="list-group-item disabled list-box">
      <div class="one-item">No courses to show.</div>
      </a>
      {% endif %}

      {% for tutor_course in other_tutor_courses: %}
      <a class="list-group-item disabled list-box">
        <div class="three-item">{{tutor_course.get('course').get('dept_course')}}</div>
        <div class="three-item">{{tutor_course.get('course').get('name')}}</div>
        <div class="three-item">{{tutor_course.get('status')}}</div>
      </a>
      {% endfor %}

    </div>

  <br>
  <br>
  <br>

    
  </div>



  {% include "/components/tutor-sidebar-footer.html" %}


</body>

</html>