<!DOCTYPE html>
<html>
    <head>
      <title>Edit Bio</title>
      <link rel="stylesheet" href= "{{url_for('static', filename='custom.css')}}">
      <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>

      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body class="princeton-gradient">
      &nbsp;
      {% include "/components/tutor-sidebar-header.html" %}

        <div>
          {% include '/components/tutor-dashboard-title.html' %}
            <br>
            <h1>My tutor bio</h1>

            <br>


            <p> {{tutor.bio}}</p>

            <hr style="height: 3px;">

            * Students and admin can see your bio.
            <br>
            <br>

            <form action = "/tutor/editbio/confirm" method = "POST">
                <div class="form-group">
                    <label for="exampleFormControlTextarea1"><h5>Edit bio</h5></label>
                    <textarea class="form-control" name="bio" rows="5"></textarea>
                    <input type = "submit" > 
                    <input type = "hidden" name = "tutor_id" value = "{{tutor.id}}">
                </div>
            </form>

  
    
        </div>

        
        {% include "/components/tutor-sidebar-footer.html" %}


    </body>

</html>