<!DOCTYPE html>
    <head>
    <link rel="stylesheet" href= "{{url_for('static', filename='custom.css')}}">
    </head>

    <body class="princeton-gradient">
        &nbsp;
        {% include "/components/tutor-sidebar-header.html" %}

        <div>
            {% include '/components/student-dashboard-title.html' %}
            <h1>{{student.get('name')}}</h1>
            <h2>{{course.get('name')}}, {{course.get('dept_course')}} student</h2>
            <br><br><br>



            <h2>Contact Info</h2>

            Email: {{student.get('email')}}


            <br><br><br>
            {% if tutorship==None %}
            <a class="submit-button" href="/tutor/student/request?tutor_id={{student.get('id')}}&course_id={{course.get('id')}}">Request tutor</a>
            {% else %}
                {% if tutorship.get('status')=='REQUESTED' %}
                <a class="submit-button" href="/tutor/student/accept?student_id={{student.get('id')}}&course_id={{course.get('id')}}">Accept tutorship request</a>
                <a class="submit-button" href="/tutor/student/reject?student_id={{student.get('id')}}&course_id={{course.get('id')}}">Decline tutorship request</a>
                {% else %}
                <a class="submit-button"href="/tutor/student/dissolve?student_id={{student.get('id')}}&course_id={{course.get('id')}}">Dissolve tutorship</a>
                {% endif %}
            {% endif %}

        </div>

        {% include "/components/tutor-sidebar-footer.html" %}

    </body>

</html>