<!DOCTYPE html>
    <head>
      <title>Physics Tutoring Portal Reject</title>
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href= "{{url_for('static', filename='custom.css')}}">
    </head>

    <body class="princeton-gradient">
        &nbsp;
        {% include "/components/tutor-sidebar-header.html" %}

        <div>
            {% include '/components/tutor-dashboard-title.html' %}
            <h1></b>Success</h1>

            <br><br><br>

            Rejected tutorship for {{course.get('dept_course')}} student {{student.get('name')}}.
        </div>

        {% include "/components/tutor-sidebar-footer.html" %}

    </body>

</html>