<!DOCTYPE html>
    <head>
    <link rel="stylesheet" href= "{{url_for('static', filename='custom.css')}}">
    </head>

    <body class="princeton-gradient">
      &nbsp;
      {% include "/components/student-sidebar-header.html" %}

        <div>
          {% include '/components/student-dashboard-title.html' %}
            <h1>Welcome,&nbsp;<b>{{user.name}}</b>.</h1>

            <br>

            <h2>My tutors</h2>
            <br>
              <div class="list-group list-box-frame">
                <a class="list-group-item disabled list-box list-box-header">
                  <div class="six-item">Course</div>
                  <div class="six-item">Tutor name</div>
                  <div class="six-item">Tutor netID</div>
                  <div class="three-item">Tutor email</div>
                  <div class="six-item">Status</div>
                </a>

                {% if tutorships|length==0: %}
                <a class="list-group-item disabled list-box">
                <div class="one-item">No tutors to show.</div>
                </a>
                {% endif %}

                {% for tutorship in tutorships: %}
                {% if tutorship.get('status') == 'ACCEPTED' %}
                <a href="/student/tutor?tutor_id={{tutorship.get('tutor').get('id')}}&course_id={{tutorship.get('course').get('id')}}" class="list-group-item list-group-item-action accepted-gradient list-box">
                {% elif tutorship.get('status') == 'REQUESTED' %}
                <a href="/student/tutor?tutor_id={{tutorship.get('tutor').get('id')}}&course_id={{tutorship.get('course').get('id')}}" class="list-group-item list-group-item-action requested-gradient list-box">
                {% else %}
                <a href="/student/tutor?tutor_id={{tutorship.get('tutor').get('id')}}&course_id={{tutorship.get('course').get('id')}}" class="list-group-item list-group-item-action no-gradient list-box">
                {% endif %}
                  <div class="six-item">{{tutorship.get('course').get('dept_course')}}</div>
                  <div class="six-item">{{tutorship.get('tutor').get('name')}}</div>
                  <div class="six-item">{{tutorship.get('tutor').get('netid')}}</div>
                  <div class="three-item">{{tutorship.get('tutor').get('email')}}</div>
                  {% if tutorship.get('status') == 'ACCEPTED' %}
                  <div class="six-item" style="color: green;">{{tutorship.get('status')}}</div>
                  {% elif tutorship.get('status') == 'REQUESTED' %}
                  <div class="six-item" style="color: blue;">{{tutorship.get('status')}}</div>
                  {% else %}
                  <div class="six-item">{{tutorship.get('status')}}</div>
                  {% endif %}
                </a>
                {% endfor %}
              </div>

              <br>
              <br>
              <br>

              <h2>My applications to tutor</h2>
            <br>
              <div class="list-group list-box-frame">
                <a class="list-group-item disabled list-box list-box-header">
                  <div class="two-item">Course</div>
                  <div class="two-item">Status</div>
                </a>

                {% if tutor_courses|length==0: %}
                <a class="list-group-item disabled list-box">
                <div class="one-item">No applications to show.</div>
                </a>
                {% endif %}

                {% for tutor_course in tutor_courses: %}
                <a class="list-group-item disabled list-box">
                  <div class="two-item">{{tutor_course.get('course').get('dept_course')}}</div>
                  <div class="two-item">{{tutor_course.get('status')}}</div>
                </a>
                {% endfor %}
              </div>

        </div>
        {% include "/components/student-sidebar-footer.html" %}
    </body>

</html>