<!DOCTYPE html>
<html>
    <head>
      <title>Tutor Application</title>
      <link rel="stylesheet" href= "{{url_for('static', filename='custom.css')}}">
      <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>

      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body class="princeton-gradient">
      &nbsp;
      {% include "/components/student-sidebar-header.html" %}

        <div>
          {% include '/components/student-dashboard-title.html' %}
            <br>
            <h1>Tutoring Application for {{course.dept_course}}: {{course.name}}</h1>

            <br>

            <form action="/student/tutor/application/confirm" method="POST">

              <br>
              <!-- Enrollment Status -->
              <div class="form-group">
                <label for="exampleFormControlSelect1">Have you taken {{course.name}}?</label>
                <select class="form-control" name ="taken_course" id="exampleFormControlSelect1">
                  <option>Yes</option>
                  <option>Currently Enrolled</option>
                  <option>No</option>
                </select>
              </div>
              <br>
              <!-- Experience -->
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Brief description of experience with the subject:</label>
                <textarea name="experience" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <br>
              <!-- PUID -->
              <div class="form-group">
                <label for="exampleFormControlTextarea1">PUID number</label>
                <input name="puid" class="form-control" type="text" id="exampleFormControlInput1" required>
              </div>
              <br>
              <!-- Terms and Agreements -->
              <a href="https://docs.google.com/document/d/1JIH6_cUSozt7KLOcld7FoW4Zs5U5atYPmVb5JyhhKrU/edit?usp=sharing" target="_blank">Tutoring Policies</a>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
                <label class="form-check-label" for="exampleCheck1">I agree to the tutoring policies</label>
              </div>
              <br>
              <input type="hidden" name="course_id" value="{{course.id}}" readonly><br>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>




  
    
        </div>
        {% include "/components/student-sidebar-footer.html" %}

    </body>

</html>