<!DOCTYPE html>
    <head>
    <link rel="stylesheet" href= "{{url_for('static', filename='custom.css')}}">
    </head>

    <body class="princeton-gradient">
        &nbsp;
        {% include "/components/student-sidebar-header.html" %}

        <div>
            <h1></b>Request tutors</h1>

            <br><br><br>

            Request all available tutors for {{course.get('dept_course')}}?
            <br>
            <a href="/student/tutors/request/confirm?course_id={{course.get('id')}}"><button>Confirm</button></a>
        </div>

        {% include "/components/student-sidebar-footer.html" %}

    </body>

</html>