<!DOCTYPE html>
    <head>
        <title>Physics Tutoring Portal Confirmation</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href= "{{url_for('static', filename='custom.css')}}">
    </head>

    <body class="princeton-gradient">
        &nbsp;
        {% include "/components/student-sidebar-header.html" %}

        <div>
            {% include '/components/student-dashboard-title.html' %}
            <h1></b>Success</h1>

            <br><br><br>

            Canceled tutoring request for {{course.get('dept_course')}} tutor {{tutor.get('name')}}.
        </div>

        {% include "/components/student-sidebar-footer.html" %}

    </body>

</html>