<!DOCTYPE html>
    <head>
    <link rel="stylesheet" href= "{{url_for('static', filename='custom.css')}}">
    </head>

    <body class="princeton-gradient">
      &nbsp;
      {% include "/components/student-sidebar-header.html" %}

        <div>
          {% include '/components/student-dashboard-title.html' %}
            <h1>Courses</h1>
            <br>

            <h2>{{semester}}</h2>

            <br>

              <div class="list-group list-box-frame">
                <a class="list-group-item disabled list-box list-box-header">
                  <div class="two-item">Department & number</div>
                  <div class="two-item">Title</div>
                </a>

                {% if courses|length==0: %}
                <a class="list-group-item disabled list-box">
                <div class="one-item">No courses to show.</div>
                </a>
                {% endif %}

                {% for course in courses: %}
                <a href="/student/course?id={{course.get('id')}}" class="list-group-item list-group-item-action list-box no-gradient">
                  <div class="two-item">{{course.get('dept_course')}}</div>
                  <div class="two-item">{{course.get('name')}}</div>
                </a>
                {% endfor %}
              </div>
        </div>
        
        {% include "/components/student-sidebar-footer.html" %}

    </body>

</html>