<!DOCTYPE html>
    <head>
    <link rel="stylesheet" href= "{{url_for('static', filename='custom.css')}}">
    </head>

    <body class="princeton-gradient">
        &nbsp;
        {% include "/components/student-sidebar-header.html" %}

        <div>
            {% include '/components/student-dashboard-title.html' %}
            <h1></b>Cancel tutoring request</h1>

            <br><br><br>

            Cancel tutoring request for {{course.get('dept_course')}} tutor {{tutor.get('name')}}?
            <br>
            <a href="/student/tutor/cancel/confirm?tutor_id={{tutor.get('id')}}&course_id={{course.get('id')}}"><button>Confirm</button></a>
        </div>

        {% include "/components/sidebar-footer.html" %}

    </body>

</html>