<!DOCTYPE html>
    <head>
      <title>Physics Tutoring Portal Course</title>
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href= "{{url_for('static', filename='custom.css')}}">
    </head>

    <body class="princeton-gradient">
      &nbsp;
      {% include "/components/student-sidebar-header.html" %}
        
        <div>
            {% include '/components/student-dashboard-title.html' %}
            <h1>{{course.get('dept_course')}}: {{course.get('name')}}</h1>

            <br>

            <h2>Available tutors</h2>
            <a href="/student/tutor/request-all?course_id={{course.get('id')}}">
              <button type="submit" class="submit-button" >Request All</button>
            </a>
            <br>

            <!-- <a href="/student/tutors/request?course_id={{course.get('id')}}"><button>Request all</button></a> -->

            <br>

                <div class="list-group list-box-frame">
                  <a class="list-group-item disabled list-box list-box-header">
                    <div class="one-item">Tutor name</div>
                  </a>
  
                  {% if tutor_courses|length==0: %}
                  <a class="list-group-item disabled list-box">
                    <div class="one-item">No tutors to show.</div>
                  </a>
                  {% endif %}
  
                  {% for tutor_course in tutor_courses: %}
                  <a href="/student/tutor?tutor_id={{tutor_course.get('tutor').get('id')}}&course_id={{course.get('id')}}" class="list-group-item list-group-item-action list-box no-gradient">
                    <div class="one-item">{{tutor_course.get('tutor').get('name')}}</div>
                  </a>
                  {% endfor %}
                </div>
        </div>

        {% include "/components/student-sidebar-footer.html" %}

    </body>

</html>