<!DOCTYPE html>
    <head>
    <link rel="stylesheet" href= "{{url_for('static', filename='custom.css')}}">
    </head>

    <body class="princeton-gradient">
        &nbsp;
        {% include "/components/student-sidebar-header.html" %}

        <div>
            {% include '/components/student-dashboard-title.html' %}
            <h1>{{tutor.get('name')}}</h1>
            <h2>{{course.get('name')}}, {{course.get('dept_course')}} tutor</h2>
            <br><br><br>


            <h2>Contact Info</h2>


            Email: {{tutor.get('email')}}

            <br>
            <br>

            <h2>Bio</h2>
            {{tutor.get('bio')}}

            <br><br><br>
            {% if tutorship==None %}
            <button><a href="/student/tutor/request?tutor_id={{tutor.get('id')}}&course_id={{course.get('id')}}">Request tutor</a></button>
            {% else %}
                {% if tutorship.get('status')=='REQUESTED' %}
                <button><a href="/student/tutor/cancel?tutor_id={{tutor.get('id')}}&course_id={{course.get('id')}}">Cancel tutorship request</a></button>
                {% else %}
                <button><a href="/student/tutor/dissolve?tutor_id={{tutor.get('id')}}&course_id={{course.get('id')}}">Dissolve tutorship</a></button>
                {% endif %}
            {% endif %}

        </div>

        {% include "/components/student-sidebar-footer.html" %}

    </body>

</html>