<!DOCTYPE html>
<html>
    <head>
      <title>All Physics Classes</title>
      <link rel="stylesheet" href= "{{url_for('static', filename='custom.css')}}">
      <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>

      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body class="princeton-gradient">

      &nbsp;
      {% include "/components/student-sidebar-header.html" %}

        <div>
          {% include '/components/student-dashboard-title.html' %}
                <br>
                <h1>APPLY TO TUTOR</h1>
    
                <br>
                <div class ="list-group list-box-frame">
                  <a class = "list-group-item disabled list-box list-box-header">
                    <div class="two-item">Course Name</div>
                    <div class="two-item">Department and Number</div>
                  </a>
                    {% for course in courses: %}
                    <a href="/student/tutor/application?course_id={{course.get('id')}}"class = "list-group-item list-group-item-action list-box no-gradient">
                      <div class="two-item">{{course.name}}</div>
                      <div class="two-item">{{course.dept_course}}</div>
                    </a>
                    {% endfor %}
                </div>
        </div>

        {% include "/components/student-sidebar-footer.html" %}

    </body>

</html>