<!DOCTYPE html>
<html>
    <head>
      <title>Physics Tutoring Portal Course List </title>
      <link rel="stylesheet" href= "{{url_for('static', filename='custom.css')}}">
      <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>

      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body class="princeton-gradient">
        &nbsp;
        {% include "/components/admin-sidebar-header.html" %}
  
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script>
            function set_tutor_course_status(tutor_course_id, status) {
                const data = {
                    tutor_course_id,
                    status
                }
                $.post("/admin/tutors/update_status", data, function(result){
                    console.log(result)
                }).then(location.reload());
            }
        </script>

        <div>
            {% include '/components/admin-dashboard-title.html' %}
            <br>

            <br><br><br>

            {% if course  %}
                <h3>COURSE NAME: {{course.name}}</h3>
            {% endif %}

            <h3>ACCEPTED TUTORS</h3>
            <a href="/admin/create-tutor-course">Assign a tutor to a course</a><br>
    
            <div class ="list-group list-box-frame">
                <a class = "list-group-item disabled list-box list-box-header">
                    <div class="three-item">Tutor Name</div>
                    <div class="three-item">Course Name</div>
                    <div class="three-item">Student Count</div>
                    <!--<th class="bg-white" scope="col">Profile</th>-->
                    <!--<th class="bg-white" scope="col">Action</th>-->
                </a>
                {% for tutor_course in tutor_courses %}
                    <a href="{{'/admin/tutor-profile/?tutor_id=' + tutor_course.tutor_id | string}}"class = "list-group-item list-group-item-action list-box no-gradient">
                        <div class="three-item">{{get_name(tutor_course.tutor_id)}}</div>
                        <div class="three-item">{{tutor_course.course_name}}</div>
                        <div class="three-item">{{student_count[loop.index0]}}</div>
                    </a>
                {% endfor %}
            </div>




            <br><br><br>

            <h3>TUTOR REQUESTS</h3>
    
            <div class ="list-group list-box-frame">
                <a class = "list-group-item disabled list-box list-box-header">
                    <div class="three-item">Tutor Name</div>
                    <div class="three-item">Course Name</div>
                    <div class="three-item">Student Count</div>
                </a>
                {% for tutor_request in tutor_requests %}
                    <a href="{{'/admin/tutor-profile/?tutor_id=' + tutor_request.tutor_id | string }}"class = "list-group-item list-group-item-action list-box no-gradient">
                        <div class="three-item">{{get_name(tutor_request.tutor_id)}}</div>
                        <div class="three-item">{{tutor_request.course_name}}</div>
                        <div class="three-item">{{student_count[loop.index0]}}</div>
                    </a>
                {% endfor %}
            </div>

            <br><br><br>




            <h3>DENIED TUTORS</h3>
    
            <div class ="list-group list-box-frame">
                <a class = "list-group-item disabled list-box list-box-header">
                    <div class="three-item">Tutor Name</div>
                    <div class="three-item">Course Name</div>
                    <div class="three-item">Student Count</div>
                  </a>
                {% for denied_tutor in denied_tutors %}
                    <a href="{{'/admin/tutor-profile/?tutor_id=' + denied_tutor.tutor_id | string}}"class = "list-group-item list-group-item-action list-box no-gradient">
                        <div class="three-item">{{get_name(denied_tutor.tutor_id)}}</div>
                        <div class="three-item">{{denied_tutor.course_name}}</div>
                        <div class="three-item">{{student_count[loop.index0]}}</div>
                    </a>
                {% endfor %}
              </table>
            </div>



            
    
        </div>

        
        {% include "/components/admin-sidebar-footer.html" %}


    </body>

</html>