<!DOCTYPE html>
<html>
    <head>
      <title>Physics Tutoring Portal Student Profile </title>
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
      <link rel="stylesheet" href= "{{url_for('static', filename='custom.css')}}">
      <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>

      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body class="princeton-gradient">
        &nbsp;
        {% include "/components/admin-sidebar-header.html" %}
  
          <div>
            {% include '/components/admin-dashboard-title.html' %}



            <br>

            <br><br><br>
            
            <h3>{{tutor.name}}'s Tutor Profile</h3>


            <ul>
                <li>
                    <strong>Name: </strong>{{tutor.name}}
                </li>
                <li>
                    <strong>Netid: </strong>{{tutor.netid}}
                </li>
                <li>
                    <strong>Email: </strong>{{tutor.email}}
                </li>
                <li>
                    <strong>Bio: </strong>{{tutor.bio}}
                </li>
                <li>
                    <strong>{{isAStudent}}</strong>
                </li>
                <li>
                    <strong>{{isATutor}}</strong>
                </li>
                <li>
                    <strong>{{isAnAdmin}} </strong>
                </li>
            </ul>



            <h3>{{tutor.name}}'s Courses</h3>

            <div class ="list-group list-box-frame">
                <a class = "list-group-item disabled list-box list-box-header">
                    <div class="four-item">Course Title</div>
                    <div class="four-item">Dept & Num</div>
                    <div class="four-item">Student Count</div>
                    <div class="four-item">Status</div>
                </a>
                {% for tutor_course in tutor_courses %}
                    <a href="{{'/admin/tutor-course?tutor_course_id=' + tutor_course.id | string}}"class = "list-group-item list-group-item-action list-box no-gradient">
                        <div class="four-item">{{tutor_course.course.name}}</div>
                        <div class="four-item">{{tutor_course.course.dept_course}}</div>

                        <div class="four-item">{{tutor_course.student_count}}</div>
                        <div class="four-item">{{tutor_course.status}}</div>
                    </a>
                {% endfor %}
            </div>

    

    
        </div>

        
        {% include "/components/admin-sidebar-footer.html" %}


    </body>

</html>