<!DOCTYPE html>
<html>
    <head>
      <title>Physics Tutoring Portal Students </title>
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
      <link rel="stylesheet" href= "{{url_for('static', filename='custom.css')}}">
      <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>

      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body class="princeton-gradient">
        &nbsp;
        {% include "/components/admin-sidebar-header.html" %}
  
          <div>
            {% include '/components/admin-dashboard-title.html' %}
            <br>

            <br><br><br>

            <h3>STUDENTS</h3>


            <div class ="list-group list-box-frame">
                <a class = "list-group-item disabled list-box list-box-header">
                    <div class="two-item">Name</div>
                    <div class="two-item">Email</div>
                    <div class="two-item">Netid</div>
                </a>

                {% for student in students %}
                    <a href="{{'/admin/student-profile/?student_id=' + student.id | string}}"class = "list-group-item list-group-item-action list-box no-gradient">
                        <div class="two-item">{{student.name}}</div>
                        <div class="two-item">{{student.email}}</div>
                        <div class="two-item">{{student.netid}}</div>
                    </a>
                {% endfor %}
            </div>
            
    
        </div>



        
        {% include "/components/admin-sidebar-footer.html" %}


    </body>

</html>