<!DOCTYPE html>
<html>
    <head>
      <title>Physics Tutoring Portal Admins </title>
      <link rel="stylesheet" href= "{{url_for('static', filename='custom.css')}}">
      <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>

      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body class="princeton-gradient">
        &nbsp;
        {% include "/components/admin-sidebar-header.html" %}
  
          <div>
            {% include '/components/admin-dashboard-title.html' %}
            <br>

            <br><br><br>

            <h3>ADMINS</h3>
    
            <div class ="list-group list-box-frame">
                <a class = "list-group-item disabled list-box list-box-header">
                    <div class="two-item">Name</div>
                    <div class="two-item">Email</div>
                    <div class="two-item">NetId</div>
                </a>

                {% for admin in admins %}
                    <a href="{{'/admin/remove-admin/?user_id=' + admin.id | string}}"class = "list-group-item list-group-item-action list-box no-gradient">
                        <div class="two-item">{{admin.name}}</div>
                        <div class="two-item">{{admin.email}}</div>
                        <div class="two-item">{{admin.netid}}</div>
                    </a>
                {% endfor %}
            </div>




            <br><br><br>

            <h3>NON-ADMINS</h3>

            <div class ="list-group list-box-frame">
                <a class = "list-group-item disabled list-box list-box-header">
                    <div class="two-item">Name</div>
                    <div class="two-item">NetId</div>
                </a>

                {% for non_admin in non_admins %}
                    <a href="{{'/admin/add-admin/?user_id=' + non_admin.id | string}}"class = "list-group-item list-group-item-action list-box no-gradient">
                        <div class="two-item">{{non_admin.name}}</div>
                        <div class="two-item">{{non_admin.netid}}</div>
                    </a>
                {% endfor %}
            </div>
            
    
        </div>

        
        {% include "/components/admin-sidebar-footer.html" %}

    </body>

</html>