<!DOCTYPE html>
<html>
    <head>
      <title>Physics Tutoring Portal Create Tutor-Course</title>
      <link rel="stylesheet" href= "{{url_for('static', filename='custom.css')}}">
      <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>

      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body class="princeton-gradient">
      &nbsp;
      {% include "/components/admin-sidebar-header.html" %}

        <div>
            {% include '/components/admin-dashboard-title.html' %}
            <br>

            <br><br><br>

            <h3>Assign a tutor to a course</h3>

            <form action = "/admin/create-tutor-course/confirm" method = "POST">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Select a tutor</label>
                <select class="form-control" name="tutor" id="exampleFormControlSelect1">
                  {% for tutor in tutors: %}
                    <option value="{{tutor.id}}">{{tutor.name}}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="form-group">
                <label for="exampleFormControlSelect1">Select a course</label>
                <select class="form-control" name="course" id="exampleFormControlSelect1">
                  {% for course in courses: %}
                    <option value="{{course.id}}">{{course.name}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1">Select a status</label>
                <select class="form-control" name="status" id="exampleFormControlSelect1">
                    <option value="ACCEPTED">Accepted</option>
                    <option value="REQUESTED">Requested</option>
                    <option value="REJECTED">Rejected</option>
                    <option value="BLOCKED">Blocked</option>
                </select>
              </div>



              <br>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        
        {% include "/components/sidebar-footer.html" %}


    </body>

</html>