<!DOCTYPE html>
<html>
    <head>
      <title>Physics Tutoring Portal Tutorship </title>
      <link rel="stylesheet" href= "{{url_for('static', filename='custom.css')}}">
      <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>

      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body class="princeton-gradient">
      &nbsp;
      {% include "/components/admin-sidebar-header.html" %}

        <div>
          {% include '/components/admin-dashboard-title.html' %}
            <br>

            <br><br><br>

            {% if course is not none %}
                <h3>COURSE NAME: {{course.name}}</h3>
            {% endif %}

            <h3>TUTORSHIPS</h3>

            <a href="/admin/tutorships/create-tutorship">Add a new tutorship</a><br>
    
            <div class ="list-group list-box-frame">
              <a class = "list-group-item disabled list-box list-box-header">
                  <div class="four-item">Student Name</div>
                  <div class="four-item">Tutor Name</div>
                  <div class="four-item">Course Name</div>
                  <div class="four-item">Status</div>
                  <!--<div class="four-item">Action</div>-->
              </a>
              {% for tutorship in tutorships %}
              <a href="{{'/admin/tutorship/?tutorship_id=' + tutorship.id | string}}"class = "list-group-item list-group-item-action list-box no-gradient">
                  <div class="four-item">{{tutorship.student.name}}</div>
                  <div class="four-item">{{tutorship.tutor.name}}</div>
                  <div class="four-item">{{tutorship.course.name}}</div>
                  <div class="four-item">{{tutorship.status}}</div>
                  <!--<div class="four-item"><a href="{{'/admin/tutorships/remove-tutorship/?tutorship_id=' + tutorship.id | string}}"><button>Dissolve</button></a></div>-->
                </a>
                    
              {% endfor %}
            </div>










    
        </div>

        
        {% include "/components/sidebar-footer.html" %}


    </body>

</html>