<!DOCTYPE html>
<html>
    <head>
      <title>Physics Tutoring Portal Student Profile </title>
      <link rel="stylesheet" href= "{{url_for('static', filename='custom.css')}}">
      <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>

      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body class="princeton-gradient">
        &nbsp;
        {% include "/components/admin-sidebar-header.html" %}
  
          <div>
            {% include '/components/admin-dashboard-title.html' %}

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script>
                function set_tutor_course_status(tutor_course_id, status) {
                    const data = {
                        tutor_course_id,
                        status
                    }
                    $.post("/admin/tutors/update_status", data, function(result){
                        // $("#course-results").html(result);
                        console.log(result)
                    });
                }
            </script>

            <br>

            <br><br><br>
            
            <h3>TUTOR PROFILE</h3>


            <ul>
                <li>
                    <strong>Id: </strong>{{tutor.id}}
                </li>
                <li>
                    <strong>Name: </strong>{{tutor.name}}
                </li>
                <li>
                    <strong>Netid: </strong>{{tutor.netid}}
                </li>
                <li>
                    <strong>Email: </strong>{{tutor.email}}
                </li>
                <li>
                    <strong>Bio: </strong>{{tutor.bio}}
                </li>
                <li>
                    <strong>Is A Student: </strong>{{tutor.is_tutor}}
                </li>
                <li>
                    <strong>Is An Admin: </strong>{{tutor.is_admin}}
                </li>
            </ul>



            <h3>COURSES</h3>
    
            <div class ="list">
            <table class="table">
                <thead>
                  <tr>
                    <th class="bg-white" scope="col">Tutor Course Id</th>
                    <th class="bg-white" scope="col">Course Id</th>
                    <th class="bg-white" scope="col">Course Name</th>
                    <th class="bg-white" scope="col">Student Count</th>
                    <th class="bg-white" scope="col">Has Taken Course?</th>
                    <th class="bg-white" scope="col">Experience</th>
                    <th class="bg-white" scope="col">Status</th>
                    <th class="bg-white" scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                    {% for tutor_course in tutor_courses %}
                        <tr>
                            <td class="bg-white">{{tutor_course.id}}</td>
                            <td class="bg-white">{{tutor_course.course_id}}</td>
                            <td class="bg-white">{{tutor_course.course.name}}</td>
                            <td class="bg-white">{{tutor_course.student_count}}</td>
                            <td class="bg-white">{{tutor_course.taken_course}}</td>
                            <td class="bg-white">{{tutor_course.experience}}</td>
                            <td class="bg-white">{{tutor_course.status}}</td>
                            <!--<td class="bg-white"><button>Dissolve</button></td>-->

                            {% if tutor_course.status == 'ACCEPTED' %}
                                <td class="bg-white"><button onclick="set_tutor_course_status( {{tutor_course.id}}, 'DENIED' )">Revoke</button></td>
                            {% elif tutor_course.status == 'REQUESTED' %}
                                <td class="bg-white"><button onclick="set_tutor_course_status( {{tutor_course.id}}, 'ACCEPTED' )">Approve</button></td>
                                <td class="bg-white"><button onclick="set_tutor_course_status( {{tutor_course.id}}, 'DENIED' )">Deny</button></td>
                            {% elif tutor_course.status == 'DENIED'  %}
                                <td class="bg-white"><button onclick="set_tutor_course_status( {{tutor_course.id}}, 'ACCEPTED' )">Approve</button></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
            
    
        </div>

        
        {% include "/components/sidebar-footer.html" %}


    </body>

</html>