<!DOCTYPE html>
<html>
    <head>
      <title>Physics Tutoring Portal Tutorship </title>
      <link rel="stylesheet" href= "{{url_for('static', filename='custom.css')}}">
      <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>

      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body class="princeton-gradient">
      &nbsp;
      {% include "/components/admin-sidebar-header.html" %}

        <div>
          {% include '/components/admin-dashboard-title.html' %}
            <br>

            <br><br><br>

            {% if course  %}
                <h3>COURSE NAME: {{course.name}}</h3>
            {% endif %}

            <h3>TUTORSHIPS</h3>

            <a href="/admin/tutorships/create-tutorship">Add a new tutorship</a><br>
    
            <div class ="list">
            <table class="table">
                <thead>
                  <tr>
                    <th class="bg-white" scope="col">Tutorship Id</th>
                    <th class="bg-white" scope="col">Student Id</th>
                    <th class="bg-white" scope="col">Student Name</th>
                    <th class="bg-white" scope="col">Tutor Id</th>
                    <th class="bg-white" scope="col">Tutor Name</th>
                    <th class="bg-white" scope="col">Course Id</th>
                    <th class="bg-white" scope="col">Course Name</th>
                    <th class="bg-white" scope="col">Status</th>
                    <th class="bg-white" scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                    {% for tutorship in tutorships %}
                        <tr>
                            <td class="bg-white">{{tutorship.id}}</td>
                            <td class="bg-white">{{tutorship.student_id}}</td>
                            <td class="bg-white"><a href="{{'/admin/student-profile/?student_id=' + tutorship.student_id | string}}">{{tutorship.student.name}}</a></td>
                            <td class="bg-white">{{tutorship.tutor_id}}</td>
                            <td class="bg-white"><a href="{{'/admin/tutor-profile/?tutor_id=' + tutorship.tutor_id | string}}">{{tutorship.tutor.name}}</a></td>
                            <td class="bg-white">{{tutorship.course_id}}</td>
                            <td class="bg-white">{{tutorship.course.name}}</td>
                            <td class="bg-white">{{tutorship.status}}</td>
                            <td class="bg-white"><a href="{{'/admin/tutorships/remove-tutorship/?tutorship_id=' + tutorship.id | string}}"><button>Dissolve</button></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
    
        </div>

        
        {% include "/components/sidebar-footer.html" %}


    </body>

</html>