<!DOCTYPE html>
<html>
    <head>
      <title>Physics Tutoring Portal Tutorship </title>
      <link rel="stylesheet" href= "{{url_for('static', filename='custom.css')}}">
      <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>

      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body class="princeton-gradient">

      &nbsp;
      {% include "/components/admin-sidebar-header.html" %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script>
            function set_tutor_course_status(tutor_course_id, status) {
                const data = {
                    tutor_course_id,
                    status
                }
                $.post("/admin/tutors/update_status", data, function(result){
                    console.log(result)
                }).then(location.reload());
            }
        </script>


        <div>
          {% include '/components/admin-dashboard-title.html' %}
            <br>

            <br>

            {% if course  %}
                <h2 class="text-center"><strong>Course: {{course.dept_course}}, {{course.name}}</strong></h2>
                <h2 class="text-center"><a href="{{'/admin/courses/remove-course/?course_id=' + course.id | string}}">Delete course</a></h2>
            {% endif %}
            <br>

            <h3><strong>Tutorships for {{course.dept_course}}</strong></h3>

    

            <div class ="list-group list-box-frame">
              <a class = "list-group-item disabled list-box list-box-header">
                  <div class="four-item">Student Name</div>
                  <div class="four-item">Tutor Name</div>
                  <div class="four-item">Course Title</div>
                  <div class="four-item">Status</div>
                  <!--<div class="four-item">Action</div>-->
              </a>
              {% for tutorship in tutorships %}
              <a href="{{'/admin/tutorship/?tutorship_id=' + tutorship.id | string}}"class = "list-group-item list-group-item-action list-box no-gradient">
                  <div class="four-item">{{tutorship.student.name}}</div>
                  <div class="four-item">{{tutorship.tutor.name}}</div>
                  <div class="four-item">{{tutorship.course.name}}</div>
                  <div class="four-item">{{tutorship.status}}</div>
                  <!--<div class="four-item"><a href="{{'/admin/tutorships/remove-tutorship/?tutorship_id=' + tutorship.id | string}}"><button>Dissolve</button></a></div>-->
                </a>
                    
              {% endfor %}
            </div>


            <br>
            <br>
            <br>

            <h3><strong>Tutors for {{course.dept_course}}: </strong></h3>


            <h3>Accepted tutors</h3>
    
            <div class ="list-group list-box-frame">
              <a class = "list-group-item disabled list-box list-box-header">
                  <div class="three-item">Tutor Name</div>
                  <div class="three-item">Course Title</div>
                  <div class="three-item">Student Count</div>
                  <!--<th class="bg-white" scope="col">Profile</th>-->
                  <!--<th class="bg-white" scope="col">Action</th>-->
              </a>
              {% for tutor_course in tutor_courses %}
                  <a href="{{'/admin/tutor-profile/?tutor_id=' + tutor_course.tutor_id | string}}"class = "list-group-item list-group-item-action list-box no-gradient">
                      <div class="three-item">{{get_name(tutor_course.tutor_id)}}</div>
                      <div class="three-item">{{tutor_course.course_name}}</div>
                      <div class="three-item">{{student_count[loop.index0]}}</div>
                  </a>
              {% endfor %}
          </div>




          <br><br><br>

          <h3>Tutor requests</h3>
  
          <div class ="list-group list-box-frame">
              <a class = "list-group-item disabled list-box list-box-header">
                  <div class="three-item">Tutor Name</div>
                  <div class="three-item">Course Title</div>
                  <div class="three-item">Student Count</div>
              </a>
              {% for tutor_request in tutor_requests %}
                  <a href="{{'/admin/tutor-profile/?tutor_id=' + tutor_request.tutor_id | string }}"class = "list-group-item list-group-item-action list-box no-gradient">
                      <div class="three-item">{{get_name(tutor_request.tutor_id)}}</div>
                      <div class="three-item">{{tutor_request.course_name}}</div>
                      <div class="three-item">{{student_count[loop.index0]}}</div>
                  </a>
              {% endfor %}
          </div>

          <br><br><br>



<!-- 
          <h3>DENIED TUTORS</h3>
  
          <div class ="list-group list-box-frame">
              <a class = "list-group-item disabled list-box list-box-header">
                  <div class="three-item">Tutor Name</div>
                  <div class="three-item">Course Name</div>
                  <div class="three-item">Student Count</div>
                </a>
              {% for denied_tutor in denied_tutors %}
                  <a href="{{'/admin/tutor-profile/?tutor_id=' + denied_tutor.tutor_id | string}}"class = "list-group-item list-group-item-action list-box no-gradient">
                      <div class="three-item">{{get_name(denied_tutor.tutor_id)}}</div>
                      <div class="three-item">{{denied_tutor.course_name}}</div>
                      <div class="three-item">{{student_count[loop.index0]}}</div>
                  </a>
              {% endfor %}
            </table>
          </div> -->







            
    
        </div>




        {% include "/components/admin-sidebar-footer.html" %}


    </body>
