<!DOCTYPE html>
<html>
    <head>
      <title>Physics Tutoring Portal Student Profile </title>
      <link rel="stylesheet" href= "{{url_for('static', filename='custom.css')}}">
      <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>

      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body class="princeton-gradient">
        &nbsp;
        {% include "/components/admin-sidebar-header.html" %}
  
          <div>
            {% include '/components/admin-dashboard-title.html' %}
            <br>

            <br><br><br>
            
            <h3>{{student.name}}'s Student Profile</h3>

            <ul>
                <li>
                    <strong>Name: </strong>{{student.name}}
                </li>
                <li>
                    <strong>Netid: </strong>{{student.netid}}
                </li>
                <li>
                    <strong>Email: </strong>{{student.email}}
                </li>
                <li>
                    <strong>{{isAStudent}}</strong>
                </li>
                <li>
                    <strong>{{isATutor}}</strong>
                </li>
                <li>
                    <strong>{{isAnAdmin}} </strong>
                </li>
                
            </ul>



            <h3>{{student.name}}'s Courses</h3>
    
            <div class ="list-group list-box-frame">
                <a class = "list-group-item disabled list-box list-box-header">
                    <div class="three-item">Tutor Name</div>
                    <div class="three-item">Course Name</div>
                    <div class="three-item">Status</div>
                </a>
                {% for tutorship in tutorships %}
                    <a class = "list-group-item disabled list-box no-gradient disabled">
                        <div class="three-item">{{tutorship.tutor.name}}</div>
                        <div class="three-item">{{tutorship.course.name}}</div>
                        <div class="three-item">{{tutorship.status}}</div>
                    </a>
                {% endfor %}
            </div>
    
        </div>

        
        {% include "/components/admin-sidebar-footer.html" %}


    </body>

</html>