<!DOCTYPE html>
<html>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
    <script>
      (function (window, document) {
        "use strict";
        window.onload = doCount;
        function doCount ()  {
          const total_courses_element = document.getElementById("total_courses_counter");
          const total_students_element = document.getElementById("total_students_counter");
          const total_tutors_element = document.getElementById("total_tutors_counter");
          let total_courses = JSON.parse('{{ total_courses | int }}');
          let total_students = JSON.parse('{{ total_students | int }}');
          let total_tutors = JSON.parse('{{ total_tutors | int }}');
          var [total_courses_counter, total_students_counter, total_tutors_counter] = [0,0,0]
          var course_countup = setInterval(function () {
            total_courses_counter += Math.max(1, Math.floor(total_courses / 20));
            total_courses_element.textContent = total_courses_counter;
            if (total_courses_counter >= total_courses) {
              total_courses_counter = total_courses;
              total_courses_element.textContent = total_courses_counter;
              clearInterval(course_countup);
            }
          }, 50);
          var students_countup = setInterval(function () {
            total_students_counter += Math.max(1, Math.floor(total_students / 20));
            total_students_element.textContent = total_students_counter;
            if (total_students_counter >= total_students) {
              total_students_counter = total_students;
              total_students_element.textContent = total_students_counter;
              clearInterval(students_countup);
            }
          }, 50);
          var tutors_countup = setInterval(function () {
            total_tutors_counter += Math.max(1, Math.floor(total_tutors / 20));
            total_tutors_element.textContent = total_tutors_counter;
            if (total_tutors_counter >= total_tutors) {
              total_tutors_counter = total_tutors;
              total_tutors_element.textContent = total_tutors_counter;
              clearInterval(tutors_countup);
            }
          }, 50);
        }
      })(window, document);
    </script>
    <head>
      <title>Physics Tutoring Portal Admin Dashboard</title>
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
      <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>

      <link rel="stylesheet" href= "{{url_for('static', filename='custom.css')}}">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body class="princeton-gradient">
      &nbsp;
      {% include "/components/admin-sidebar-header.html" %}

        <div>
          {% include '/components/admin-dashboard-title.html' %}
            <br>
            <h1>Welcome,&nbsp;<b>{{user.name}}</b>!</h1>

            <br><br><br>

            <h3>Aggregate statistics</h3>
            <div class="stats-wrapper">
              <div class="stats-block">
                <div class="stats-stats">
                  <div id="total_courses_counter">0</div>
                  Courses
                </div>
              </div>
              <div class="stats-block">
                <div class="stats-stats">
                  <div id="total_students_counter">0</div>
                  Students
                </div>
              </div>
              <div class="stats-block">
                <div class="stats-stats">
                  <div id="total_tutors_counter">0</div>
                  Tutors
                </div>
              </div>
            </div>

            <br>
            <br>
            <br>

            <h3>Course statistics</h3>

            <div class ="list-group list-box-frame">
              <a class = "list-group-item disabled list-box list-box-header">
                  <div class="four-item">Course Title</div>
                  <div class="four-item">Dept & Num</div>
                  <div class="four-item">Approved Tutors</div>
                  <div class="four-item">Tutees</div>
              </a>
              {% for course in courses %}
                  <a href="{{'/admin/course/?course_id=' + course.id | string}}"class = "list-group-item list-group-item-action list-box no-gradient">
                    <div class="four-item">{{course.name}}</div>
                    <div class="four-item">{{course.dept_course}}</div>
                    <div class="four-item">{{course.approved_tutors_count}}</div>
                    <div class="four-item">{{course.tutees_count}}</div>
                  </a>
              {% endfor %}
          </div>
    
        </div>

        
        {% include "/components/admin-sidebar-footer.html" %}


    </body>

</html>