<!DOCTYPE html>
<html>
    <head>
      <title>Physics Tutoring Portal Remove Course</title>
      <link rel="stylesheet" href= "{{url_for('static', filename='custom.css')}}">
      <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>

      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body class="princeton-gradient">
        &nbsp;
        {% include "/components/admin-sidebar-header.html" %}
  
          <div>
            {% include '/components/admin-dashboard-title.html' %}
            <br>

            <br><br><br>

            <h3>ADD AN ADMIN</h3>
            <p>Are you sure you want to make {{user.name}} an admin?</p>
            <form action="/admin/courses/add-admin/confirm/" method="GET">
                <input type="hidden" name="user_id" value="{{user_id}}" readonly><br>
                <input type="submit" value="ADD">
            </form>
            <br>
        </div>

        
        {% include "/components/sidebar-footer.html" %}


    </body>

</html>