<!DOCTYPE html>
<html>
    <head>
      <title>Physics Tutoring Portal Admins </title>
      <link rel="stylesheet" href= "{{url_for('static', filename='custom.css')}}">
      <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>

      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body class="princeton-gradient">
        &nbsp;
        {% include "/components/admin-sidebar-header.html" %}
  
          <div>
            {% include '/components/admin-dashboard-title.html' %}
            <br>

            <br><br><br>

            <h3>ADMINS</h3>
    
            <div class ="list">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="bg-white" scope="col">Id</th>
                        <th class="bg-white" scope="col">Name</th>
                        <th class="bg-white" scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for admin in admins %}
                            <tr>
                                <td class="bg-white">{{admin.id}}</td>
                                <td class="bg-white">{{admin.name}}</td>
                                <td class="bg-white"><a href="{{'/admin/remove-admin/?user_id=' + admin.id | string}}"><button>Remove</button>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <br><br><br>

            <h3>NON-ADMINS</h3>
    
            <div class ="list">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="bg-white" scope="col">Id</th>
                        <th class="bg-white" scope="col">Name</th>
                        <th class="bg-white" scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for non_admin in non_admins %}
                            <tr>
                                <td class="bg-white">{{non_admin.id}}</td>
                                <td class="bg-white">{{non_admin.name}}</td>
                                <td class="bg-white"><a href="{{'/admin/add-admin/?user_id=' + non_admin.id | string}}"><button>Promote</button></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
    
        </div>

        
        {% include "/components/sidebar-footer.html" %}

    </body>

</html>