<!DOCTYPE html>
<html>
    <head>
      <title>Physics Tutoring Portal Course List </title>
      <link rel="stylesheet" href= "{{url_for('static', filename='custom.css')}}">
      <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>

      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body class="princeton-gradient">
        &nbsp;
        {% include "/components/admin-sidebar-header.html" %}
  
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script>
            function set_tutor_course_status(tutor_course_id, status) {
                const data = {
                    tutor_course_id,
                    status
                }
                $.post("/admin/tutors/update_status", data, function(result){
                    console.log(result)
                }).then(location.reload());
            }
        </script>

        <div>
            {% include '/components/admin-dashboard-title.html' %}
            <br>

            <br><br><br>

            {% if course  %}
                <h3>Course title: {{course.name}}</h3>
            {% endif %}

            <h3>Tutor requests</h3>
    
            <div class ="list-group list-box-frame">
                <a class = "list-group-item disabled list-box list-box-header">
                    <div class="two-item">Tutor Name</div>
                    <div class="two-item">Course Title</div>

                </a>
                {% for tutor_request in tutor_requests %}
                    <a href="{{'/admin/tutor-course?tutor_course_id=' + tutor_request.id | string}}"class = "list-group-item list-group-item-action list-box no-gradient">
                        <div class="two-item">{{get_name(tutor_request.tutor_id)}}</div>
                        <div class="two-item">{{tutor_request.course_name}}</div>
                    </a>
                {% endfor %}
            </div>

            <br><br><br>


            <h3>All tutors</h3>
            <a href="/admin/create-tutor-course">Manually assign a tutor to a course</a><br>

            {% if tutors is not none %}
                <div class ="list-group list-box-frame">
                    <a class = "list-group-item disabled list-box list-box-header">
                        <div class="three-item">Tutor Name</div>
                        <div class="three-item">Tutor Email</div>
                        <div class="three-item">Tutor NetId</div>
                        <div class="three-item">Student Count</div>
                    </a>
                    {% for tutor in tutors %}
                        <a href="{{'/admin/tutor-profile/?tutor_id=' + tutor.id | string}}"class = "list-group-item list-group-item-action list-box no-gradient">
                            <div class="three-item">{{tutor.name}}</div>
                            <div class="three-item">{{tutor.email}}</div>
                            <div class="three-item">{{tutor.netid}}</div>
                            <div class="three-item">{{tutor.tutorship_count}}</div>

                        </a>
                    {% endfor %}
                </div>
            {% else %}
                <div class ="list-group list-box-frame">
                    <a class = "list-group-item disabled list-box list-box-header">
                        <div class="three-item">Tutor Name</div>
                        <div class="three-item">Tutor NetId</div>
                        <div class="three-item">Student Count</div>
                    </a>
                    {% for tutor_course in approved_tutor_courses %}
                        <a href="{{'/admin/tutor-profile/?tutor_id=' + tutor_course.tutor.id | string}}"class = "list-group-item list-group-item-action list-box no-gradient">
                            <div class="three-item">{{tutor_course.tutor.name}}</div>
                            <div class="three-item">{{tutor_course.tutor.netid}}</div>
                            <div class="three-item">{{tutor_course.tutorship_count}}</div>

                        </a>
                    {% endfor %}
                </div>
            {% endif %}




            <br><br><br>




            
<!-- 

            <h3>DENIED TUTORS</h3>
    
            <div class ="list-group list-box-frame">
                <a class = "list-group-item disabled list-box list-box-header">
                    <div class="three-item">Tutor Name</div>
                    <div class="three-item">Course Name</div>
                    <div class="three-item">Student Count</div>
                  </a>
                {% for denied_tutor in denied_tutors %}
                    <a href="{{'/admin/tutor-profile/?tutor_id=' + denied_tutor.tutor_id | string}}"class = "list-group-item list-group-item-action list-box no-gradient">
                        <div class="three-item">{{get_name(denied_tutor.tutor_id)}}</div>
                        <div class="three-item">{{denied_tutor.course_name}}</div>
                        <div class="three-item">{{student_count[loop.index0]}}</div>
                    </a>
                {% endfor %}
              </table>
            </div> -->

           



            
    
        </div>

        
        {% include "/components/admin-sidebar-footer.html" %}


    </body>

</html>