<!DOCTYPE html>
<html>
    <head>
      <title>Physics Tutoring Portal Admin Dashboard</title>
      <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>

      <link rel="stylesheet" href= "{{url_for('static', filename='custom.css')}}">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body class="princeton-gradient">

        <div class="non-sidebar">
            <br>
            <h1>Welcome, {{user.name}}.</h1>

            <br><br><br>

            <h3>COURSES</h3>
    
            <div class ="list">
            <table class="table admin-table">
                <thead class="admin-table-header">
                  <tr>
                    <th class="admin-table-data" scope="col">Courses</th>
                    <th class="admin-table-data" scope="col">Approved Tutors</th>
                    <th class="admin-table-data" scope="col">Available Tutors</th>
                    <th class="admin-table-data" scope="col">Tutees</th>
                  </tr>
                </thead>
                <tbody>
                    {% for course in courses %}
                        <tr class="admin-table-row">
                            <td class="admin-table-data">{{course.name}}</td>
                            <td class="admin-table-data">{{approved_tutors_count[loop.index0]}}</td>
                            <td class="admin-table-data">{{available_tutors_count[loop.index0]}}</td>
                            <td class="admin-table-data">{{tutees_count[loop.index0]}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
    
        </div>

        &nbsp;
    
        {% include '/components/admin-navbar.html' %}

        


    </body>

</html>