<!DOCTYPE html>
<html>
    <head>
      <title>Physics Tutoring Portal Tutorship </title>
      <link rel="stylesheet" href= "{{url_for('static', filename='custom.css')}}">
      <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>

      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body class="princeton-gradient">

        <div class="non-sidebar">
            <br>

            <br><br><br>

            <h3>TUTORSHIPS</h3>

            <a href="/admin/tutorships/create-tutorship">create tutorship</a><br>
    
            <div class ="list">
            <table class="table">
                <thead>
                  <tr>
                    <th class="bg-white" scope="col">Courses</th>
                    <th class="bg-white" scope="col">Student Id</th>
                    <th class="bg-white" scope="col">Tutor Id</th>
                    <th class="bg-white" scope="col">Course Id</th>
                    <th class="bg-white" scope="col">Status</th>
                    <th class="bg-white" scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                    {% for tutorship in tutorships %}
                        <tr>
                            <td class="bg-white">{{tutorship.id}}</td>
                            <td class="bg-white">{{tutorship.student_id}}</td>
                            <td class="bg-white">{{tutorship.tutor_id}}</td>
                            <td class="bg-white">{{tutorship.course_id}}</td>
                            <td class="bg-white">{{tutorship.status}}</td>
                            <td class="bg-white"><button>Disolve</button></td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
    
        </div>
        <button>Add Class</button>

        &nbsp;
        
        {% include '/components/admin-navbar.html' %}

        


    </body>

</html>