<!DOCTYPE html>
<html>
    <head>
      <title>Physics Tutoring Portal Admins </title>
      <link rel="stylesheet" href= "{{url_for('static', filename='custom.css')}}">
      <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>

      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body class="princeton-gradient">

        <div class="non-sidebar">
            <br>

            <br><br><br>

            <h3>ADMINS</h3>
    
            <div class ="list">
                <table class="table admin-table">
                    <thead>
                    <tr>
                        <th class="bg-white" scope="col">Id</th>
                        <th class="bg-white" scope="col">Name</th>
                        <th class="bg-white" scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for admin in admins %}
                            <tr>
                                <td class="bg-white">{{admin.id}}</td>
                                <td class="bg-white">{{admin.name}}</td>
                                <td class="bg-white"><button>Remove</button></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <br><br><br>

            <h3>NON-ADMINS</h3>
    
            <div class ="list">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="bg-white" scope="col">Id</th>
                        <th class="bg-white" scope="col">Name</th>
                        <th class="bg-white" scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for non_admin in non_admins %}
                            <tr>
                                <td class="bg-white">{{non_admin.id}}</td>
                                <td class="bg-white">{{non_admin.name}}</td>
                                <td class="bg-white"><button>Make Admin</button></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
    
        </div>

        &nbsp;
        {% include '/components/admin-navbar.html' %}


        


    </body>

</html>