<!DOCTYPE html>
<html>
    <head>
      <title>Physics Tutoring Portal Create User</title>
      <link rel="stylesheet" href= "{{url_for('static', filename='custom.css')}}">
      <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>

      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body class="princeton-gradient">

        <div class="non-sidebar">
            <br>

            <br><br><br>

            <h3>CREATE A USER</h3>
            <form action="/admin/user/create-user/confirm" method="POST">
                netid
                <input type="text" name="netid"><br>
                name
                <input type="text" name="name"><br>
                email
                <input type="text" name="email"><br>
                bio (optional)
                <input type="text" name="bio"><br>
                is_student (optional)
                <input type="checkbox" name="is_student"><br>
                is_tutor (optional)
                <input type="checkbox" name="is_tutor"><br>
                is_admin (optional)
                <input type="checkbox" name="is_admin"><br>
                <input type="submit">
            </form>
        </div>

        &nbsp;
        
        {% include 'admin-sidebar.html' %}

        


    </body>

</html>