<!DOCTYPE html>
    <head>
    <link rel="stylesheet" href= "{{url_for('static', filename='custom.css')}}">
    </head>

    <body class="princeton-gradient">
        <div class="non-sidebar">
            <h1>Welcome, Jane Doe.</h1>

            <br><br><br>

            <h3>MY TUTORS</h3>
        </div>


        &nbsp;

        <div class="wrapper">
            <!-- Sidebar -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>PHYSICS<br>TUTORING<br>PORTAL</h3>
                </div>

                <hr>


                <img src="{{ 'static/PU-standard.png' }}" width="250px">
        
            </nav>
        
        </div>

    </body>

</html>