<!DOCTYPE html>
    <head>
    <link rel="stylesheet" href= "{{url_for('static', filename='custom.css')}}">
    </head>

    <body class="princeton-gradient">
        <div class="non-sidebar">
            <h1>Welcome, <strong>Jane Doe</strong>.</h1>

            <br><br><br>

            <h2>My tutors</h2>
            <br>
            <table id="userlisttable">
                <thead id="userlistheader">
                  <tr>
                    <td><h5>Name</h5></td>
                    <td><h5>NetID</h5></td>
                    <td><h5>Email</h5></td>
                  </tr>
                </thead>
                <tbody id="userlist">

                {% for tutor in tutors: %}
                <tr>
                <td>{{tutor['name']}}</td>
                <td>{{tutor['netid']}}</td>
                <td>{{tutor['email']}}</td>
                </tr>
                {% endfor %}

                </tbody>
              </table>
        </div>

        &nbsp;

        <div class="wrapper">
            <!-- Sidebar -->
            <nav id="sidebar">

              <img src="{{url_for('static', filename='p_logo_v1.png')}}" width="210px" style="position:absolute;left:25px;top:40px;">

                <div class="sidebar-button" style="position:absolute;top:210px;">
                  <a href="/dashboard"><button type="button" class="btn"><h5>Dashboard</h5></button></a>
                </div>

                <div class="sidebar-button" style="position:absolute;top:285px;">
                    <a href="/"><button type="button" class="btn"><h5>Find a tutor</h5></button></a>
                </div>

                <div class="sidebar-button" style="position:absolute;top:360px;">
                    <button type="button" class="btn"><h5>Become a tutor</h5></button>
                </div>

                <img src="{{url_for('static', filename='PU-standard.png')}}" width="180px" style="position:fixed;bottom:10px;left:25px;">

            </nav>
        
        </div>

    </body>

</html>