<!DOCTYPE html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href= "{{url_for('static', filename='custom.css')}}">
  </head>

  <body class="princeton-gradient">
    <div class="landing-wrapper">
      <div class="landing-stripe"></div>
      <div class="landing-header">
        <h1>
            <div class="landing-header-text">
              <strong class="emphasize black">Physics Tutoring Portal</strong>
              <div class="gray">Princeton University <br></div>
          </strong>
        </h1>
          
      </div>
      

      <br><br><br>
        
      <h3 class="cta-wrapper">
        <div class="cta-button">
          <a href="/login" class="cta-link" >
            <div class="cta-text">
              Enter
            </div>
          </a>
        </div>
      </h3>


      <img class="landing-footer-logo" src="{{url_for('static', filename='PU-standard.png')}}">
    </div>


  </body>
</html>