<div class="sidebar">

              <img src="{{url_for('static', filename='p_logo_v1.png')}}" width="210px" style="position:absolute;left:25px;top:40px;">

              <form action="/student/dashboard" method="get">
                <button type="submit" class="sidebar-button" style="position:absolute;top:200px;">Dashboard</button>
              </form>

              <form action="/student/courses" method="get">
                <button type="submit" class="sidebar-button" style="position:absolute;top:250px;">Courses</button>
              </form>

              <form action="/tutordashboard" method="get">
                <button type="submit" class="sidebar-button" style="position:absolute;top:300px;">Tutor view</button>
              </form>

              <img src="{{url_for('static', filename='PU-white.png')}}" width="180px" style="position:fixed;bottom:10px;left:25px;">

        
</div>