<!DOCTYPE html>
<html>
    <head>
      <title>Physics Tutoring Portal Tutor Dashboard</title>
      <link rel="stylesheet" href= "{{url_for('static', filename='custom.css')}}">
      <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>

      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body class="princeton-gradient">

        <div class="non-sidebar">
            <br>
            <h1>Welcome, Jane Doe.</h1>

            <br><br><br>

            <h3>MY STUDENTS</h3>
    



     


            <div class ="list">
            <table class="table">
                <thead>
                  <tr>
                    <th class="bg-white" scope="col">Name</th>
                    <th class="bg-white" scope="col">Course</th>
                    <th class="bg-white" scope="col">Contact</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="bg-white" >Anjali Kapoor</td>
                    <td class="bg-white">Physics 103</td>
                    <td class="bg-white">akkapoor@princeton.edu</td>
                  </tr>
                  <tr>
                    <td class="bg-white">Lana Glisic</td>
                    <td class="bg-white">Physics 103</td>
                    <td class="bg-white">lglisic@princeton.edu</td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
            
              <br>
    
    
              <h3>MY CLASSES</h3>
              <table class="table">
                <tbody>
                  <tr>
                    <td class="bg-white">Physics 101</td>
                  </tr>
                  <tr>
                    <td class="bg-white">Physics 103</td>
                  </tr>
                  
                </tbody>
              </table>
    
    
        </div>

        &nbsp;
        <div class="wrapper">
            <!-- Sidebar -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>PHYSICS<br>TUTORING<br>PORTAL</h3>
                </div>

                <hr>


                <img src="{{ 'static/PU-standard.png' }}" width="250px">
        
            </nav>
        
        </div>


        


    </body>

</html>



