<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href= "{{url_for('static', filename='custom.css')}}">
    <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>
    <style>
    body {
        font-family: 'Arvo';font-size: 22px;
    }
    </style>
    </head>

    <body class="princeton-gradient">

        <h1 style="position:relative; left:300px; font-size: 64px">Welcome, Jane Doe</h1>


        <h3 style="position:relative; left:300px; font-size: 40px">My Students</h3>


        <table style = "position:relative; left:300px;" class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Course</th>
                <th scope="col">Contact</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="bg-white">Anjali</td>
                <td class="bg-white">Kapoor</td>
                <td class="bg-white">Physics 103</td>
              </tr>
              <tr>
                <td class="bg-white">Lane</td>
                <td class="bg-white">Glisic</td>
                <td class="bg-white">Physics 103</td>
              </tr>
              
            </tbody>
          </table>
          <br>


          <h3 style="position:relative; left:300px; font-size: 40px">My Classes</h3>


        


    </body>

</html>



