<!doctype html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Users</title>
    </head>

    <body>
        CREATE A USER<br>
        <form action="http://localhost:5000/api/user/create" method="POST">
            netid
            <input type="text" name="netid"><br>
            name
            <input type="text" name="name"><br>
            email
            <input type="text" name="email"><br>
            <input type="submit">
        </form>

        <br>

        CREATE A COURSE<br>
        <form action="http://localhost:5000/api/course/create" method="POST">
            name
            <input type="text" name="name"><br>
            dept & num
            <input type="text" name="dept_course"><br>
            <input type="submit">
        </form>

        <br>

        CREATE A TUTORSHIP<br>
        <form action="http://localhost:5000/api/tutorship/create" method="POST">
            status
            <input type="text" name="status"><br>
            student id
            <input type="text" name="student_id"><br>
            tutor id
            <input type="text" name="tutor_id"><br>
            course id
            <input type="text" name="course_id"><br>
            <input type="submit">
        </form>

        <br>

        {% for user in users %}
            <Strong>User:</Strong>{{user}}
            <br/>
        {% endfor %}

        <br>

        {% for course in courses %}
            <Strong>Course:</Strong>{{course}}
            <br/>
        {% endfor %}

        <br>

        {% for tutorship in tutorships %}
            <Strong>Tutorship:</Strong>{{tutorship}}
            <br/>
        {% endfor %}
    </body>
</html>