<!DOCTYPE html>
<html>
    <head>
      <title>Error</title>
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
      <link rel="stylesheet" href= "{{url_for('static', filename='custom.css')}}">
      <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>

      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body class="princeton-gradient">

        <div class="non-sidebar">
            <br>

            <br><br><br>

            <h3>Error</h3>
            {{message}}
            <br>
            <br>
            {% if dashboard_url is not none %}
                <a href="{{dashboard_url}}"><button>Dashboard</button></a>
            {% else %}
                <a href="/"><button>Home</button></a>
            {% endif %}

        </div>

        &nbsp;



    </body>

</html>